@media screen and (max-width: 767px) {

    h1 {
        font-size: 2rem;
    }

    .pizzaWrapper {
        width: 90%;
        padding: 2vh 2vw;

        .pizza{
            transform: scale(0.9);
        }
    }

    .menu{
        width: 100%;
        flex-wrap: wrap;

        .item{
            width: 40%;
            margin: 5px;
            padding: 6px;

            .img {
                width: 25%;
            }

            .text{
                font-size: 1rem;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {

    .pizzaWrapper {
        width: 90%;
        padding: 6vh 3vw;
    }

    .menu{
        width: 100%;
        flex-wrap: wrap;

        .item{
            width: 20%;

            .text{
                font-size: 1.3rem;
            }
        }
    }
}
